<% include ../partials/header %>
<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><span class="icon-headline"><i class="fas fa-calendar-day"></i></span>Forecast</h1>
    </div>
    <div class="container project-select">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Project
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% projects.forEach(function(project){ %>
                <a class="dropdown-item" href="/projects/<%= project._id %>"><%= project.name %></a>
            <% }); %>
         </div>
    </div>
</header>
    
<div class="container">
    <h2>Today</h2>
    <hr>
    <ul class="list-group task-list ">
        <% todayTasks.forEach(function(task){ %>
            <div class="row" style="display:flex; flex-wrap: wrap;">
                <div class="col-12 table">
                    <li name="name" data-project-id="<%= task.project.id %>" data-id="<%= task._id %>" class="list-group-item clearfix">
                        <input type="checkbox" class="form-check-input checkbox">
                        <span class="task-item" contentEditable="true" data-id="<%= task.name %>"><%= task.name %></span>
                        <span class="someday-btn float-right"><a href="#"><i class="fas fa-clock fa-lg"></i></a></span>
                        <span class="delete-task float-right" ><a href="#"><i class="fas fa-times fa-lg"></i></a></span>
                        <span class="float-right">
                            <div class="input-group date" id="datetimepicker_<%= task._id %>" data-target-input="nearest" data-due-date="<%= task.dueDate %>">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_<%= task._id %>"/>
                                <div class="input-group-append" data-target="#datetimepicker_<%= task._id %>" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </span>
                            <div class="inline form-group select-box float-right">
                                <select class="form-control project-select">
                                    <% projects.forEach(function(project){ %>
                                        <option data-id="<%= project._id %>"><%= project.name %></option>
                                    <% }); %>
                                </select>
                                
                            </div>
                    </li>
                </div>
            </div>
        <% }); %>
    </ul>
</div>
<div class="container">
    <h2>Tomorrow</h2>
    <hr>
    <ul class="list-group task-list ">
        <% tomorrowsTasks.forEach(function(task){ %>
            <li name="name" data-project-id="<%= task.project.id %>" data-id="<%= task._id %>" class="list-group-item clearfix">
                <input type="checkbox" class="form-check-input checkbox">
            <span class="task-item" contentEditable="true" data-id="<%= task.name %>"><%= task.name %></span>
            <span class="someday-btn float-right"><a href="#"><i class="fas fa-clock fa-lg"></i></a></span>
            <span class="delete-task float-right" ><a href="#"><i class="fas fa-times fa-lg"></i></a></span>
            <span class="float-right">
                <div class="input-group date" id="datetimepicker_<%= task._id %>" data-target-input="nearest" a-due-date="<%= task.dueDate %>">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_<%= task._id %>"/>
                    <div class="input-group-append" data-target="#datetimepicker_<%= task._id %>" data-toggleatetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </span>
                <div class="inline form-group select-box float-right">
                    <select class="form-control project-select">
                        <% projects.forEach(function(project){ %>
                            <option data-id="<%= project._id %>"><%= project.name %></option>
                        <% }); %>
                    </select>
                    
                </div>
                </li>
        <% }); %>
    </ul>
    
</div>

            
<script>
$(function(){
   // display matching Projekt to task in select box
    $("select > option").each(function(){
        var pID = $(this).closest("li").attr("data-project-id");
        if($(this).attr("data-id") == pID){
            $(this).attr("selected","selected");
        }
    });
      $(".date").each(function(){
      dates = $(this).attr("data-id")
      var dueDate = $(this).attr("data-due-date");
      console.log(dueDate);
      $(this).datetimepicker({
         format: 'DD/MM/YYYY',
         locale: 'de',
         date: moment(dueDate)
         }); 
      });
});

// Edit item inline --> save when focus is lost
$(".list-group-item").focusout(function(){
var list_item = $(this);
var taskId = list_item.attr('data-id');
var due_date = $('#datetimepicker_'+taskId).datetimepicker('viewDate').format();
var taskname = $.trim(list_item.find("span").text());
var projectname = list_item.find("select option:selected").text();
var projectid = list_item.find("select option:selected").attr('data-id');
   $.ajax({
      method: "POST",
      url: "/tasks/" + taskId + "/?_method=PUT",
      data: {ID: taskId, name: $.trim(taskname), dueDate: due_date,  pName: projectname, pId: projectid},
      success: function(result) {
      }
    });
});
// Add new task in current list (without form)
$("#sticky-btn").click(function(){
   $.ajax({
      method: "POST",
      url: "/tasks",
      data: {name: "New Task"},
      success: function(result) {
        console.log("SUCCESS ADD");
        location.reload(true);
      }
    });
});

// Button to "select" Someday dueDate of 01/01/2099
$('.someday-btn').click(function(){
    $(this).parent().find('.date').datetimepicker('date', '01/01/2099');
});
</script> 
            
<% include ../partials/footer %>